services:
  ocp:
    image: ${OCP_IMAGE:-openpolicyagent/opa-control-plane:edge}
    command:
      - run
      - --addr=0.0.0.0:8282
      - --apply-migrations
      - --config=/ocp.yml
      - --data-dir=/tmp
      - --log-level=debug
    volumes:
      - ./ocp.yml:/ocp.yml
    ports:
      - 8282:8282
    environment:
      - OCP_TLS_CERT
      - OCP_TLS_KEY
    depends_on:
      - db

  localstack:
    image: localstack/localstack:latest
    ports:
      - 4566:4566
    volumes:
      - ./initaws.d:/docker-entrypoint-initaws.d
    environment:
      - SERVICES=s3
      - AWS_DEFAULT_REGION=us-east-1

  localstack-init:
    image: localstack/localstack:latest
    volumes:
      - ./init-s3.sh:/init-s3.sh
    environment:
      - AWS_DEFAULT_REGION=us-east-1
    entrypoint: /bin/sh
    command: ["/init-s3.sh"]
    depends_on:
      - localstack
    restart: "no"

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: sesame
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./tls:/etc/ssl/postgresql/
      - ./pg_hba.conf:/etc/postgresql/pg_hba.conf
    command: -c ssl=on -c ssl_cert_file=/etc/ssl/postgresql/server-cert.pem -c ssl_key_file=/etc/ssl/postgresql/server-key.pem -c hba_file=/etc/postgresql/pg_hba.conf

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090 # http://localhost:9090

  opa:
    image: openpolicyagent/opa:latest-static
    volumes:
      - ./opa.yml:/opa.yml
    ports:
      - 8181:8181
    command:
      - run
      - --server
      - --addr=:8181
      - --log-level=debug
      - --config-file=/opa.yml
    environment:
      AWS_ACCESS_KEY_ID: doesntmatter
      AWS_SECRET_ACCESS_KEY: doesntmatter
      AWS_REGION: us-east-1

volumes:
  pgdata:
