version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    groups:
      all:
        patterns:
          - "*"
    ignore:
      - dependency-name: "github.com/open-policy-agent/opa"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      gha-dependencies:
        patterns:
          - "*"
